body{
    background-color: #3D3D3D;
    margin: 0;
}
img{
    margin-left: 5%;
    width: 90%;
    border: 3px solid crimson;
    border-radius: 20px;
    box-sizing: border-box;
}
#woods{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}
iframe{
    width: 80%;
    height: 800px;
    margin-left: 10%;
    border: 3px solid crimson;
    border-radius: 20px;
}
.hbutton{
    height: 50px;
    width: 10%;
    background-color: crimson;
    margin: 0;
    margin-top: 25px;
    margin-left: 20px;
    border: none;
    font-size: 16px;
    border-radius: 20px;
}
button:hover{
    background-color: darkred;
}
h1{
    color: white;
    text-align: center;
}
.buttons{
    height: 100px;
    text-align: center;
    background-color: black;
}
.topic{
    height: 100px;
    background-color: whitesmoke;
    text-align: center;
    line-height: 100px;
    font-size: 24px;
}
.header{
    color:white;
    height: 60px;
    text-align: center;
    background-color: #3D3D3D;
    line-height: 100px;
    font-size: 24px;

}
#marketBttn{
    height: 50px;
    width: 150px;
    background-color: darkred;
    border: none;
    border-top-left-radius: 20px;
    font-size: 16px;
}
#ammoBttn{
    height: 50px;
    width: 150px;
    background-color: crimson;
    border: none;
    font-size: 16px;
}
#hideoutBttn{
    height: 50px;
    width: 150px;
    background-color: crimson;
    border: none;
    border-top-right-radius: 20px;
    font-size: 16px;
}
#marketBttn:hover{
    background-color: darkred;
}
#ammoBttn:hover{
    background-color: darkred;
}
#hideoutBttn:hover{
    background-color: darkred;
}
.changehtml{
    text-align: center;
}
.footer{
    color: white;
    background-color: black;
    height: 25px;
    text-align: center;
}